body {
    font-family: 'Raleway', sans-serif;
}
a:any-link {
    text-decoration: none;
    color: inherit;
}
.navbar a:link, a:visited, a:active, a:hover {
    color: white;
}
.navbar {
    background-color: black;
    text-align: center;
    padding: 15px 40px;
}
.navbar div {
    display: inline-block;
}
.left_nav {
    display: inline-block;
}
.right_nav {
    float: right;
}
.post_nav_item {
    margin-right: 30px;
}
.main {
    min-height: 90vh;
    padding: 15px 40px;
}
@media only screen and (max-width: 600px) {
    .navbar {
        padding: 5px 10px;
    }
}
