/* Flex Divs */
.flex-container-stretch {
    display: flex;
    align-items: stretch;
}
.flex-container-stretch > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
}
.flex-container-wrap {
    display: flex;
    flex-wrap: wrap;
}