/* Pointer Cursor */
.pointer-cursor {
    cursor: pointer;
}
/* All Buttons */
.main_button, .request_button, .offer_button, .accept_button, .request_pending {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    line-height: normal;
    height: fit-content;
}
/* Main Button (Blue) */
.main_button {
    background-color: #66CCCC;
    color: white;
    padding: 20px;
}

/* Request and Offer Buttons */
.request_button, .offer_button {
    width: 160px;
    padding: 15px 30px;
}
.request_button, .request_button_hover {
    /* color: #FF3D3D;
    border: 1px solid #FF5555;
    background-color: rgba(249,134,134,.12); */
    background-color: rgb(255, 183, 115);
    color: white;
}
.offer_button, .offer_button_hover {
    /* color: rgb(255, 115, 0);
    background-color: rgba(252, 175, 105, .15);
    border: 1px solid #FF7A00; */
    background-color: rgb(255, 130, 130);
    color: white;
}
.accept_button {
    color: #25B50E;
    background-color: rgba(95,211,76,.16);
    border: 1px solid #25B50E;
    padding: 15px 30px;
}

/* Darker on Hover */
.request_button_hover, .offer_button_hover {
    transition-duration: 0.3s;
}
.request_button_hover:hover {
    background-color: rgb(255, 162, 75);
}
.offer_button_hover:hover {
    background-color: rgb(255, 98, 98);
}

/* Login/Signup Buttons (Red) */
.btn-red{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 30px;
    background: rgb(255, 93, 93);
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    margin-top: 10px;

}

/* Dropdown Padding */
.dropdown {
    padding: 5px 7px;
}

/* Responsive */
@media only screen and (max-width: 600px) {
    .request_button {
        padding: 10px 16px;
    }
    .offer_button {
        padding: 10px 28px;
    }
    .request_pending {
        padding: 10px 17px;
    }
    .accept_button {
        padding: 10px 20px;
    }
}
