.mega-header {
    font-size: 40px;
}
.header {
    font-size: 21px;
}
.subheader {
    font-size: 18px;
}
.normal-text {
    font-size: 15px;
}
@media only screen and (max-width: 900px) {
    .header {
        font-size: 17px;
    }
    .normal-text {
        font-size: 13px;
    }
}
@media only screen and (max-width: 600px) {
    .navbar {
        padding: 5px 10px;
    }
    .header {
        font-size: 15px;
    }
    .normal-text {
        font-size: 14px;
    }
}