/* Mega-header, Header, Subheader Fonts */
.mega-header {
    font-size: 40px;
}
.header {
    font-size: 21px;
}
.subheader {
    font-size: 18px;
}
.normal-text {
    font-size: 16px;
    line-height: 1.4em;
}
#field-missing {
    color: red;
    font-size: 14px;
}
/* Responsive */
@media only screen and (max-width: 800px) {
    .header {
        font-size: 18px;
    }
    .subheader {
        font-size: 17px;
    }
    .normal-text {
        font-size: 15px;
    }
}