body {
    background-color: #F2DCCF;
    /* Photo by Severin D. on Unsplash */
    /* background-image: url('images/BlackCarCropped.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    background-attachment: fixed; */
}