/* Navbar */
.navbar {
    background-color: black;
    text-align: center;
    padding: 15px 30px;
}
.navbar div {
    display: inline-block;
}
.left_nav {
    display: inline-block;
}
.right_nav {
    float: right;
}
.post_nav_item {
    margin-right: 30px;
}

/* Dashboard, Logout Dropdown */
.acc-dropdown {
    position: relative;
    display: inline-block !important;
}
.acc-dropdown-content {
    display: none !important;
    position: absolute;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    right: -5px;
    width: 135px;
}
.acc-dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.acc-dropdown-content a:hover {background-color: #3d3d3d;}
  
.acc-dropdown:hover .acc-dropdown-content {display: block !important;}
