/* Dropdowns */
.dropdown {
    margin: 0 20px;
}
.driver-rider-dropdown {
    float: left;
    display: -webkit-box;
}
#zip-code, #seats, #isDriver {
    line-height: normal;
    padding: 5px 7px;
    width: -webkit-fill-available;
    margin: 0;
}
.cp-dropdown {
    width: fit-content;
    display: inline-block;
    margin: auto 2vw auto auto;
}
/* Buttons */
.create-post-button-div {
    float: right;
}
/* Posts Side */
.posts-pg {
    height: 100vh;
    height: fit-content;
}
.posts-div {
    padding: 25px;
    height: fit-content;
    font-size: 30px;
}
/* Ride Listings */
.post-listings {
    margin: 0 auto;
    width: inherit;
}
.panels {
    position: relative;
    margin: 30 auto;
    width: 100%;
    margin-top: 130px;
}
.panel-body {
    padding: 30px;
    margin-bottom: 40px;
    border: rgba(0, 0, 0, 0.692) solid 1px;
}
.panel-vertical-top {
    text-align: left;
    line-height: normal;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 30px;
}
.profile-pic {
    object-fit: cover;
    height: 100px !important;
    width: 100px !important;
    /* border-radius: 100%; */
    margin-right: 30px;
}
.right-div-button {
    margin: auto;
}
.panel-body img {
    width: auto; /* to maintain aspect ratio. You can use 100% if you don't care about that */
    height: 100%;
}
.submit-button {
    margin: 25px auto; 
    display: block;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 100px; Location of the box */
    left: 0;
    /* top: 0; */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
  .create-post-modal-content {
    background-color: white;
    margin: 10vh auto;
    padding: 50px 100px;
    width: 50%;
    min-width: 575px;
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.create-post-p {
    text-align: center;
}
input[type=text], input[type=date], input[type=time] {
    width: 100%;
    height: 50px;
    /* padding: 10px 20px; */
    margin: 20px 0 0 0;
    box-sizing: border-box;
    border-bottom: 1px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    text-align: left;
}
.gray {
    color: gray;
}

/* deletes the clear button on date and time input fields */
input[type=date]::-webkit-inner-spin-button,
input[type=time]::-webkit-clear-button { 
    -webkit-appearance: none;
    display: none;
}
/* deletes the calendar on date input field */
input[type=date]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
}

@media only screen and (max-width: 900px) {
    .posts-right {
        padding: 60px;
    }
}
@media only screen and (max-width: 800px) {
    .posts-right {
        padding: 50px;
    }
}
@media only screen and (max-width: 700px) {
    .posts-right {
        padding: 30px;
    }
}

/*if screen is greater than 600px*/
@media screen and (min-width: 600px) {
    .panel-body, .panel-vertical-top {
        display: flex;
    }
}
/* makes posts vertical, not horizontal, when screen too small */
@media only screen and (max-width: 600px) {
    .panel-body {
        display: block;
        overflow: auto !important;
    }
    .panel-vertical-top {
        display: inline-flex;
        float: left !important;
        width: 100% !important;
        margin-bottom: 25px !important;
        padding-right: 0 !important;
    }
    .request_button, .offer_button, .request_pending, .accept_button {
        display: block !important;
    }
}