label {
  float:left;
  width:100%;
  margin-top: 50px;
  margin-bottom:10px;
}

input {
  width:35%;
  position: relative;
  text-align: center;
}

.sidebar {
  float: left;
  width: 20%;
  margin: 10px;
  height: 100%;
  padding: 25px 25px 25px 25px;
  border-right: 0.75px solid #000000ce;
  position: relative;
  overflow: hidden;
}

#zipcode {
  /*WHY ISN'T THIS A TEXTBOX IT WAS ONE IN MY HTML!!!*/
  height: 5px;
  width: 35%;
}