label {
  float:left;
  width:100%;
  margin-top: 50px;
  margin-bottom:10px;
}

.openbtn {display:none}
.closebtn {display:none}

.sidebar {
  float: left;
  width: 20%;
  margin: 10px;
  height: 100%;
  padding: 25px 25px 25px 25px;
  border-right: 0.75px solid #000000ce;
  overflow: hidden;
}

/*if screen size is 764px wide or smaller*/
@media screen and (max-width: 850px) {
  /*-webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;*/
  .sidebar{
    display: none;
  }

  .openbtn {
    display:block;
    font-size: 20px;
    cursor: pointer;
    background-color: #111111;
    color: white;
    padding: 10px 15px;
    border: none;
  }

  .openbtn:hover {
    background-color: #444;
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}


#zipcode {
  /*WHY ISN'T THIS A TEXTBOX IT WAS ONE IN MY HTML!!!*/
  height: 5px;
  width: 35%;
}

#submit {
  margin-top: 50px;
  text-align: center;
}