label {
  float:left;
  width:100%;
  margin-top: 50px;
  margin-bottom:10px;
}

@media screen and (min-width: 940px) {
  .sidebar {
    float: left;
    width: 20%;
    height: 100%;
    margin: 10px;
    padding: 25px 25px 25px 25px;
    border-right: 0.75px solid #000000ce;
    overflow: hidden;
  }
  
  .openbtn {display:none}
}

@media screen and (max-width: 940px) {
  .sidebar{
    display: none;
  }

  .openbtn {
    display:block;
    font-size: 18px;
    cursor: pointer;
    background-color: #111111;
    color: white;
    padding: 10px 15px;
    border: none;
  }

  .openbtn:hover {
    background-color: #444;
  }
}

/*
#destination-container {
  height: 5px;
  width: 35%;
}*/

#apply {
  margin-top: 50px;
  text-align: center;
}
